{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Banned Regions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for game in games %}
                <tr>
                    <td>{{ game[1] }}</td>
                    <td>{{ game[2] }}$</td>
                    <td>{{ game[3] }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">More Info</button>
                        <a href="/buy/{{ game[1] }}" class="btn btn-outline btn-success">Purchase this Item</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}